src/main/mule/global/transport-module-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="transport-module-api-main">
        <http:listener path="/api/*" config-ref="transport-module-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="transport-module-api-config"/>
		<error-handler ref="global_error_handlerError_Handler" />
    </flow>
    <flow name="transport-module-api-console">
        <http:listener path="/console/*" config-ref="transport-module-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="transport-module-api-config"/>
		<error-handler ref="global_error_handlerError_Handler" />
    </flow>
    <flow name="get:\booking\(transportType)\routes:transport-module-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="ee4cf7bb-bdcd-46a1-bbf6-1f8ebf9bdbe3" name="getRoutesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="06d8cb6a-a0ea-43e2-95c7-83baf9a76357" message="Response Delivered for Routes with TransactionId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:transport-module-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="fb67a744-6500-40ed-8e99-23741aa31277" name="getSchedulesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="88cca417-9745-4543-b9d4-aed565e9d1f7" message="Response Delivered for Schedules with TransactionId: #[vars.transactionId]"/>
    </flow>
</mule>
